@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* Shared style */
.disply-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;

}
main > section{
    margin-top: 130px;
}
/* color Items for full web page */
.text-gray{
    color: #424242;
}
.text-dark-gray{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* Primary Button for website */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    transition: background-color 1s, transform 0s;
    }

.btn-primary:hover{
    background-color: #78f178;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    animation: 1s;

}

/* header style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 10px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;   
}
.team-features{
    margin-left: 130px;
    max-width: 530px;

}
.common-text-size{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight:500;
}
.feature{
    color: #FF900E;
}
/* responsive media quary */

/* card desgin  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     
}

.fact-card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 190px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    width: 600;
    margin-top: 8px;
    margin-bottom: 2px;
}
/* responsive to small device  */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-features{
        margin: 0 auto;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 999px) {
    .teams{
        flex-direction: column;
    }
    .team-features{
        margin: 20px 50px;
    }
    
}
